# Python a dynamic interpreter
which interpretes code line by line and throws type error when particular line is executed and it has type error...in following example, if 'a' given to function is greater than 0 than no error would occured else if a is negative than it would throw error on else

In [24]:
def foo(a):
    if a > 0:
        print('Hi')
    else:
        print("3" + 5)

foo(-1)

TypeError: can only concatenate str (not "int") to str

# Global Variable
although global variable can be accessed in any scope but while changing value for global variable is challengin, we have to use 'global' Keyword while refereing to global variable

In [25]:
 x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

# Operators along with controle structures
Arithmetic operators
Comparison operators
Logical operators
Bitwise operators
Assignment operators
Specials operators

if/else, for loop and while loop

In [1]:
numbers = [1, 3, 5, 7, 9]

count_equal = 0
count_greater = 0
count_less = 0
count_greater_equal = 0
count_less_equal = 0

threshold = 5

for num in numbers:
    if num == threshold:
        print(num, '==', threshold, 'is True')
        count_equal += 1

    if num != threshold:
        print(num, '!=', threshold, 'is True')

    if num > threshold:
        print(num, '>', threshold, 'is True')
        count_greater += 1

    if num < threshold:
        print(num, '<', threshold, 'is True')
        count_less += 1

    if num >= threshold:
        print(num, '>=', threshold, 'is True')
        count_greater_equal += 1

    if num <= threshold:
        print(num, '<=', threshold, 'is True')
        count_less_equal += 1

i = 0
print("\nResults of counts:")
while i < len(numbers):
    print('Number of elements equal to', threshold, ':', count_equal)
    print('Number of elements greater than', threshold, ':', count_greater)
    print('Number of elements less than', threshold, ':', count_less)
    print('Number of elements greater than or equal to', threshold, ':', count_greater_equal)
    print('Number of elements less than or equal to', threshold, ':', count_less_equal)
    i += 1

1 != 5 is True
1 < 5 is True
1 <= 5 is True
3 != 5 is True
3 < 5 is True
3 <= 5 is True
5 == 5 is True
5 >= 5 is True
5 <= 5 is True
7 != 5 is True
7 > 5 is True
7 >= 5 is True
9 != 5 is True
9 > 5 is True
9 >= 5 is True

Results of counts:
Number of elements equal to 5 : 1
Number of elements greater than 5 : 2
Number of elements less than 5 : 2
Number of elements greater than or equal to 5 : 3
Number of elements less than or equal to 5 : 3
Number of elements equal to 5 : 1
Number of elements greater than 5 : 2
Number of elements less than 5 : 2
Number of elements greater than or equal to 5 : 3
Number of elements less than or equal to 5 : 3
Number of elements equal to 5 : 1
Number of elements greater than 5 : 2
Number of elements less than 5 : 2
Number of elements greater than or equal to 5 : 3
Number of elements less than or equal to 5 : 3
Number of elements equal to 5 : 1
Number of elements greater than 5 : 2
Number of elements less than 5 : 2
Number of elements greater than or equal to 5 : 3
Number of elements less than or equal to 5 : 3
Number of elements equal to 5 : 1
Number of elements greater than 5 : 2
Number of elements less than 5 : 2
Number of elements greater than or equal to 5 : 3
Number of elements less than or equal to 5 : 3

# Exception Handling

In [2]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")

Error: Cannot divide by zero.

In [7]:
try:
    print("in try")
    result = 10 / 0

except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
else:
    print("The result is:", result)

in try
Error: Cannot divide by zero.

In [10]:
try:
    print("in try")
    result = 10 / 0
except ZeroDivisionError:
    print("Error: Cannot divide by zero.")
else:
    print("The result is:", result)
finally:
    print("This block always executes.")

in try
Error: Cannot divide by zero.
This block always executes.

# Partial functions

In [19]:
from functools import partial

def power(base, exponent, mod):
    return (base ** exponent) % mod

power_mod_100 = partial(power, mod=100)

print(power_mod_100(2, 3))
print(power_mod_100(5, 4))

8
25

In [26]:
from functools import partial

def power(base, exponent, mod):
    return (base ** exponent) % mod

# Fix both 'exponent' and 'mod'
power_with_exponent_and_mod = partial(power, exponent=3, mod=100)

print(power_with_exponent_and_mod(2))
print(power_with_exponent_and_mod(5))

8
25

# lambda function
they are unnammed and limited to single expression

In [27]:
# Traditional function
def add(x, y):
    return x + y

add_lambda = lambda x, y: x + y

print(add_lambda(3, 5))

8

# lambda with map
map apply given function to all items in an iterable

In [20]:
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x ** 2, numbers))

print(squared_numbers)

[1, 4, 9, 16, 25]

In [23]:
numbers = [1, 2, 3, 4, 5]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[2, 4]